.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  .load-icon {
    font-size: 50px;
    color: white;
  }
}
.wheel-container .wheel-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    background: #6e4141;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('../../asset/bg.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden;
  
    button {
      margin-top: 50px;
      background: orangered;
      padding: 12px 40px;
      color: white;
      cursor: pointer;
      border-radius: 4px;
    }
  }
  .gift-name {
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
  }
  .unlucky-msg {
    text-align: center;
    padding: 40px;
    padding-top: 20px;
  }
  .ant-drawer-body, .ant-drawer-header {
    background: #222020;
  }
  .meme {
    width: 250px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    border-radius: 4px;
  }
