.add-form {
    h4 {
        margin-bottom: 20px;
    }
    & > * {
        color: black;
    }
    padding: 20px;
    padding-top: 50px;
    label {
        display: block;
        margin-bottom: 5px;
    }
}
:where(.css-dev-only-do-not-override-pb7fjz).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
}
:where(.css-dev-only-do-not-override-774ii7).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
}
.submit-btn {
    background-color: red;
    color: white;
    border-radius: 4px;
    margin-top: 40px;
}
:where(.css-dev-only-do-not-override-ph9edi).ant-input-number-lg {
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-input-number {
    color: white;
    border-radius: 0;

}